---
- name: install build utilities
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
  with_items:
    - asciidoc
    - autoconf
    - autoconf-archive
    - automake
    - bc
    - bison
    - coccinelle
    - cppcheck
    - debhelper
    - devscripts
    - dh-autoreconf
    - dh-systemd
    - doxygen
    - flex
    - g++
    - gawk
    - gcc
    - gcc-arm-none-eabi
    - git
    - git-buildpackage
    - graphviz
    - libcsv-dev
    - libtool
    - libboost-all-dev
    - make
    - mscgen
    - osc
    - pkgconf
    - python-minimal
    - python-setuptools
    - python3
    - python3-setuptools
    - stow
    - texinfo
    # by gsm-manuals
    - python3-nwdiag
    - python-pychart
    - inkscape
    # by gapk
    - libasound-dev
    - libopencore-amrnb-dev
    # by LimeSuite
    - cmake
    - patchelf
    # by libusrp
    - sdcc
    # by mingw upload job
    - rsync

- name: install build dependencies and libraries
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
    install_recommends: no
  with_items:
    - dahdi-source
    - docbook5-xml
    - libboost-dev
    - libc-ares-dev
    - libdbd-sqlite3
    - libdbi-dev
    - libffi-dev
    - libffi-dev
    - libfftw3-dev
    - libgmp-dev
    - libgnutls28-dev
    - libgps-dev
    - libgsm1-dev
    - libnl-3-dev
    - libnl-route-3-dev
    - libmnl-dev
    # by osmo-sysmon
    - liboping-dev
    - libncurses5-dev
    - libortp-dev
    - libpcap-dev
    - libpcsclite-dev
    - libreadline-dev
    - libsctp-dev
    - libsigsegv-dev
    - libsnmp-dev
    - libsofia-sip-ua-glib-dev
    - libsqlite3-dev
    - libssl-dev
    - libsystemd-dev
    - libtalloc-dev
    - libuhd-dev
    - libusb-1.0-0-dev
    - libusb-dev
    - libzmq3-dev
    - sqlite3
    - libaio-dev

- name: install liblua for jessie
  apt:
    name: liblua5.3-dev
    cache_valid_time: 3600
    update_cache: yes
    install_recommends: no
    default_release: jessie-backports
  when: ansible_distribution == 'Debian' and ansible_distribution_release == 'jessie'

- name: install liblua for stretch or later
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
    install_recommends: no
  with_items:
    - liblua5.3-dev
  when: ansible_distribution == 'Debian' and ansible_distribution_version|int >= 9

- name: install liblimesuite-dev for stretch or later
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
    install_recommends: no
  with_items:
    - liblimesuite-dev
  when: ansible_distribution == 'Debian' and ansible_distribution_version|int >= 9

- name: install osmo-remsim dependencies
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
  with_items:
    - libjansson-dev
    - libulfius-dev
  when: ansible_distribution == 'Debian' and ansible_distribution_version|int >= 9

- name: install srsLTE build dependencies
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
  with_items:
    - cmake
    - libfftw3-dev
    - libmbedtls-dev
    - libboost-program-options-dev
    - libconfig++-dev
    - libsctp-dev
    - libpcsclite-dev
    - libuhd-dev
    - libczmq-dev
    - libsoapysdr-dev
  when: ansible_distribution == 'Debian' and ansible_distribution_version|int >= 9

- name: install open5gs build dependencies
  apt:
    name: "{{ item }}"
    cache_valid_time: 3600
    update_cache: yes
  with_items:
    - meson
    - ninja-build
    - libgcrypt-dev
    - libidn11-dev
    - libmongoc-dev
    - libbson-dev
    - libyaml-dev
  when: ansible_distribution == 'Debian' and ansible_distribution_version|int >= 10

- name: download osmo-python-tests for py2
  git:
    repo: "https://gerrit.osmocom.org/python/osmo-python-tests"
    dest: "/home/{{ jenkins_user }}/osmo-python-tests2"
    version: "fb4b813d4df62b7b2445bdced961eb1847267eed"

- name: install osmo-python-tests for py2
  shell:
    cmd: "python2 setup.py clean build install && date > installed"
    chdir: "/home/{{ jenkins_user }}/osmo-python-tests2"
    creates: "/home/{{ jenkins_user }}/osmo-python-tests2/installed"

- name: download osmo-python-tests for py3
  git:
    repo: "https://gerrit.osmocom.org/python/osmo-python-tests"
    dest: "/home/{{ jenkins_user }}/osmo-python-tests3"
    version: "be7fcf5f28a5d0f9ad35510f09b5979268d76598"

- name: install osmo-python-tests for py3
  shell:
    cmd: "python3 setup.py clean build install && date > installed"
    chdir: "/home/{{ jenkins_user }}/osmo-python-tests3"
    creates: "/home/{{ jenkins_user }}/osmo-python-tests3/installed"
