cov-analysis-*
source-*
install-*
tokens.txt
.*.sw?
jenkins_jobs.ini
jenkins-jobs.ini
__pycache__/
_cache/
_temp/
_deps/
_release_tarballs/
_docker_playground
_repo_install_test_data/
_temp_manuals/
_temp_releases/
scripts/repo-install-test/run-inside-env.sh
