[Unit]
Description=obs-mirror

[Service]
Type=oneshot
User=pkgmirror
ExecStart=/home/pkgmirror/osmo-ci/contrib/obs-mirror/rm-old-nightly-archives.sh

[Install]
WantedBy=multi-user.target
