
auto {{ bts_interface }}
iface {{ bts_interface }} inet static
        address 10.42.42.1
        netmask 255.255.255.0

auto {{ bts_interface }}:0
iface {{ bts_interface }}:0 inet static
        address 10.42.42.2
        netmask 255.255.255.0

auto {{ bts_interface }}:1
iface {{ bts_interface }}:1 inet static
        address 10.42.42.3
        netmask 255.255.255.0

auto {{ bts_interface }}:2
iface {{ bts_interface }}:2 inet static
        address 10.42.42.4
        netmask 255.255.255.0

auto {{ bts_interface }}:3
iface {{ bts_interface }}:3 inet static
        address 10.42.42.5
        netmask 255.255.255.0

auto {{ bts_interface }}:4
iface {{ bts_interface }}:4 inet static
        address 10.42.42.6
        netmask 255.255.255.0

auto {{ bts_interface }}:5
iface {{ bts_interface }}:5 inet static
        address 10.42.42.7
        netmask 255.255.255.0

auto {{ bts_interface }}:6
iface {{ bts_interface }}:6 inet static
        address 10.42.42.8
        netmask 255.255.255.0

auto {{ bts_interface }}:7
iface {{ bts_interface }}:7 inet static
        address 10.42.42.9
        netmask 255.255.255.0

auto {{ bts_interface }}:8
iface {{ bts_interface }}:8 inet static
        address 10.42.42.50
        netmask 255.255.255.0

auto {{ bts_interface }}:9
iface {{ bts_interface }}:9 inet static
        address 10.42.42.51
        netmask 255.255.255.0

