[Unit]
Description=testenv coredump helper
After=lxc.service

[Service]
Environment="PYTHONUNBUFFERED=1"
Type=simple
Restart=always
ExecStart=/opt/testenv-coredump-helper/testenv-coredump-helper

[Install]
WantedBy=multi-user.target
